@import '../helpers/colors';
@import '../helpers/placeholders';

%link-base {
  border: 0;
  color: $mine-shaft;
  cursor: pointer;
  letter-spacing: $letter-spacing;
}

%link-underline {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: $dusty-gray;
}

.link,
.link:hover {
  @extend %link-base;
  @extend %link-underline;
  display: inline;
}

.link--icon {
  @extend %link-base;
  display: flex;
  align-items: center;

  [class*='text'] {
    @extend %link-underline;
    margin: 0;
    padding-left: 8px;
  }

  [class*='icon'] {
    flex-shrink: 0;
  }
}

.link--icon:hover {
  text-decoration: none;
}

.link--block,
.link--block:hover {
  @extend .link;
  display: block;
}
