@import '../helpers/colors';

.radio-field {

  .radio,
  .control {
    cursor: pointer;
  }

  .radio ~ .radio {
    margin-left: 15px;
  }

  .control {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: $white;
    border-radius: 50%;
    border: 1px solid $silver;
    display: inline-block;
    height: 20px;
    outline: none;
    position: relative;
    vertical-align: top;
    width: 20px;
  }

  .control:checked:after {
    content: '\02143';
    font: 100 1.3rem/1 'Avalon Regular', sans-serif;
    left: 5px;
    position: absolute;
    top: 3px;
    transform: rotate(40deg);
  }

  .control:checked {
    background: $candlelight;
    border-color: $candlelight;
  }

  .control:disabled,
  .control:disabled + * {
    opacity: 0.5;
    cursor: not-allowed;
  }

  [class*='text'] {
    margin: 0;
    padding: 8px 0 8px 7px;
  }

  .control + [class*='icon'] {
    padding: 0 10px 0 7px;
    vertical-align: sub;
  }

  .radio + [class*='text'] {
    display: block;
    padding: 10px 0 0 0;
  }

  &--error .radio + [class*='text'] {
    color: $monza;
  }
}
