@import '../helpers/colors';

.rule {
  border: 0;
  border-bottom: 1px solid $gray;
  margin: 0 0 24px 0;
}

.rule--light {
  @extend .rule;
  border-bottom-color: $gallery;
}

.rule--padded {
  @extend .rule;
  padding-top: 10px;
}

.rule--light--padded {
  @extend .rule--light;
  padding-top: 10px;
}
