@import '../helpers/colors';

.swatch {
  border: 1px solid $white;
  border-radius: 50%;
  display: block;
  height: 16px;
  width: 16px;
}

.swatch-label {

  font-size: 0;

  .swatch, .text {
    display: inline-block;
    vertical-align: middle;
  }

  .text {
    margin: 0;
    padding-left: 8px;
  }
}
