@import '../helpers/colors';
@import '../helpers/placeholders';

// Float label text input
// Not supported in IE11 or Edge, but gracefully falls back

.text-field {

  display: flex;
  flex-flow: column-reverse;

  & > * {
    transition: all 0.2s;
  }

  .text--label {
    display: block;
    margin: 0;
    padding-bottom: 5px;
  }

  .control {
    @extend %control-base;
    border: 0;
    border-bottom: 1px solid $silver;
    padding: 0 0 10px;
  }

  .control:placeholder-shown + .text--label {
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: text;
    transform-origin: left bottom;
    transform: translate(0, 3rem) scale(1.325);
  }

  ::placeholder,
  ::-webkit-input-placeholder {
    transition: inherit;
    opacity: 0;
    color: $silver;
  }

  .control:focus::placeholder,
  .control:focus::-webkit-input-placeholder {
    opacity: 1;
  }

  .control:not(:placeholder-shown) + .text--label,
  .control:focus + .text--label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
  }

  & + [class*='text'] {
    display: block;
    padding-top: 10px;
  }

  // Disabled state
  .control:disabled + .text--label,
  .control:disabled:not(:placeholder-shown) {
    color: $silver;
    cursor: not-allowed;
  }
  .control:disabled:not(:placeholder-shown) + .text--label {
    color: $mine-shaft;
    cursor: pointer;
  }

  // Error state
  &--error .control {
    border-bottom-color: $monza;
  }
  &--error + [class*='text'] {
    color: $monza;
  }

  &--simple {
    flex-flow: column;
    ::placeholder {
      opacity: 1;
    }
  }
}
