$alabaster: #f8f8f8;
$alto: #d8d8d8;
$apple: #3ac63b;
$candlelight: #ffd815;
$dusty-gray: #979797;
$emperor: #545454;
$gallery: #eaeaea;
$gray: #7e7e7e;
$mariner: #2977d0;
$mine-shaft: #212121;
$monza: #d0021b;
$silver: #b8b8b8;
$white: #fff;
$wild-sand: #f5f5f5;
